# 0. 재료준비

In [8]:
# ### 1. parquet파일을 csv로 바꿔보자
import pandas as pd
import pyarrow.parquet as pq

file_path = "/Users/keemyohaan/Desktop/001.Python/004. Study/009.FastCampus/003.DE/01-spark/data/trips"
file_lst = [
    "yellow_tripdata_2021-01.parquet"
    , "yellow_tripdata_2021-02.parquet"
    , "yellow_tripdata_2021-03.parquet"
    , "yellow_tripdata_2021-04.parquet"
    , "yellow_tripdata_2021-05.parquet"
    , "yellow_tripdata_2021-06.parquet"
    , "yellow_tripdata_2021-07.parquet"
]

# Parquet 파일 열기
for i in range(len(file_lst)):
    parquet_file = pq.read_table(f'{file_path}/{file_lst[i]}')

    # Parquet 파일을 pandas DataFrame으로 변환
    df = parquet_file.to_pandas()

    # DataFrame을 CSV 파일로 저장
    df.to_csv(f'{file_path}/{file_lst[i].split(".parquet")[0]}.csv', index=False)

# 1. 가보자고

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('taxi-analysis').getOrCreate()
# 여러개 파일을 바로 가져온다.
trip_files = "/Users/keemyohaan/Desktop/001.Python/004. Study/009.FastCampus/003.DE/01-spark/data/trips/*"
zone_file = "/Users/keemyohaan/Desktop/001.Python/004. Study/009.FastCampus/003.DE/01-spark/data/taxi+_zone_lookup.csv"

In [12]:
trips_df = spark.read.csv(f"file:///{trip_files}", inferSchema=True, header=True)
zone_df = spark.read.csv(f"file:///{zone_file}", inferSchema=True, header=True)

In [14]:
trips_df.printSchema()
zone_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [17]:
trips_df.createOrReplaceTempView('trips')
zone_df.createOrReplaceTempView('zone')

In [34]:
query = """
SELECT 
    t.VendorID as vendor_id
    , TO_DATE(t.tpep_pickup_datetime) as pickup_date
    , TO_DATE(t.tpep_dropoff_datetime) as dropoff_date    
    
    , HOUR(t.tpep_pickup_datetime) as pickup_time
    , HOUR(t.tpep_dropoff_datetime) as dropoff_time     

    , t.passenger_count
    , t.trip_distance
    , t.fare_amount
    , t.tolls_amount
    , t.total_amount
    , t.payment_type
    , pz.Zone as pickup_zone
    , dz.Zone as dropoff_zone
FROM trips t
LEFT JOIN zone pz
    ON t.PULocationID = pz.LocationID
LEFT JOIN 
    zone dz
ON t.DOLocationID = dz.LocationID
"""
comb_df = spark.sql(query)
comb_df.createOrReplaceTempView('comb')

In [35]:
comb_df.printSchema()

root
 |-- vendor_id: integer (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- dropoff_date: date (nullable = true)
 |-- pickup_time: integer (nullable = true)
 |-- dropoff_time: integer (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- pickup_zone: string (nullable = true)
 |-- dropoff_zone: string (nullable = true)

In [36]:
spark.sql("SELECT pickup_date, dropoff_date from comb WHERE pickup_time > 0").show()

+-----------+------------+
|pickup_date|dropoff_date|
+-----------+------------+
| 2020-12-31|  2021-01-01|
| 2020-12-31|  2020-12-31|
| 2020-12-31|  2021-01-01|
| 2020-12-31|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2020-12-31|  2021-01-01|
| 2020-12-31|  2020-12-31|
| 2020-12-31|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
| 2021-01-01|  2021-01-01|
+-----------+------------+
only showing top 20 rows

In [37]:
spark.sql("SELECT pickup_date, dropoff_date from comb WHERE pickup_date < '2020-12-31'").show()

+-----------+------------+
|pickup_date|dropoff_date|
+-----------+------------+
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2008-12-31|  2008-12-31|
| 2008-12-31|  2008-12-31|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2009-01-01|  2009-01-01|
| 2008-12-31|  2008-12-31|
| 2009-01-01|  2009-01-01|
+-----------+------------+
only showing top 20 rows

In [38]:
comb_df.select('total_amount').describe().show()

+-------+------------------+
|summary|      total_amount|
+-------+------------------+
|  count|          15000936|
|   mean|  18.7554005111238|
| stddev|145.74310219086414|
|    min|            -647.8|
|    max|          398469.2|
+-------+------------------+

In [39]:
comb_df.select('trip_distance').describe().show()

+-------+-----------------+
|summary|    trip_distance|
+-------+-----------------+
|  count|         15000936|
|   mean|6.628556730060026|
| stddev|671.7240645480986|
|    min|              0.0|
|    max|        332541.19|
+-------+-----------------+

In [89]:
comb_df.select('passenger_count').describe().show()

+-------+------------------+
|summary|   passenger_count|
+-------+------------------+
|  count|          14166908|
|   mean|1.4253582362502812|
| stddev| 1.044333600318924|
|    min|               0.0|
|    max|               9.0|
+-------+------------------+